.trListProduct{
    background-color: blueviolet;
    color: aliceblue;
  
  }
 

.table-responsive{
    background: linear-gradient(to right, rgb(181, 200, 247), rgb(226, 238, 245));
} 

.listTitle{
    color: darkblue;
    margin: 2%;
    font-size: 22px;
}

.listImage{
    width: 65px;
    height: 65px;
    justify-content: center;
    border-radius: 5%;
    border: solid 1px #0744a0;
    box-shadow: 10px 5px 5px teal;
  
}

.lastProductImage{
    width: 120px;
    height: 120px;
    justify-content: center;
    border-radius: 5%;
    border: solid 1px #0744a0;
    box-shadow: 10px 5px 5px teal;
  
}

.card-body-totals{
    box-shadow: 5px 10px 5px black;
    height: 30px;
    text-align: center;
}